.contacts {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.25rem;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 3.125rem 0;
}

.contacts__title {
  margin: 0;
}

.contacts__address {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 0.625rem 0;
  font-style: normal; /* <address> je jinak kurzivou */
  font-weight: bold;
}

.contacts__text {
  margin: 0;
}

.contacts__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 5px 0;
  font-weight: bold;
}

.contacts__icon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}

.contacts__link {
  color: var(--black);
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  padding: 1.25rem;
  border: 1px solid var(--gray-light);
  border-radius: 1.25rem;
}

.form__title {
  margin: 0;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; /* jinak by se pole zúžila na obsah, protože .form centruje */
}

.form__input {
  padding: 15px;
  border: 1px solid var(--green);
  border-radius: 0.5rem;
}

.form__input--message {
  min-height: 150px;
}

.form__button {
  width: 250px;
  padding: 20px;

  color: var(--white);
  background: var(--green);
  border: none;
  border-radius: 0.5rem;
}

.form__note {
  color: var(--gray-light);
}

@media (min-width: 1350px) {
  .contacts {
    flex-direction: row;
    gap: 290px;
    padding: 5.625rem 7.1875rem;
  }

  .contacts__info,
  .form {
    flex: 1;
  }

  .contacts__title {
    font-size: 3rem;
  }

  .contacts__link,
  .contacts__text {
    font-size: 1.5rem;
  }

  .contacts__icon {
    width: 1.875rem;
    height: 1.875rem;
  }

  .form {
    gap: 1.25rem;
    padding: 3.125rem 1.25rem;
  }

  .form__title {
    font-size: 3rem;
  }
}
