



.footer {
  background: var(--gray);
  color: var(--white);
}

.footer__columns {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.25rem;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.footer__title {
  margin: 0;
  font-size: 1.25rem;
  color: var(--white);
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 0.625rem 0;
  font-style: normal; /* <address> je jinak kurzivou */
}

.footer__company {
  margin: 0;
  color: var(--white-ish);
}

.footer__text {
  margin: 0;
  color: var(--gray-light);
}

.footer__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.footer__item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 5px 0; /* používám px, protože v rem jednotkách je to zbytečně dlouhé desetinné číslo */
}

.footer__icon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}

.footer__link {
  color: var(--white);
  text-decoration: none;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 1.25rem;
  border-top: 1px solid var(--gray-light);
}

.footer__copyright {
  margin: 0;
  font-size: 0.75rem;
  color: var(--white);
}

.footer__nav {
  display: flex;
  gap: 1.25rem;
  font-size: 0.75rem;
}

@media (min-width: 1350px) {
  .footer__columns {
    flex-direction: row;
    justify-content: space-between;
    gap: 1.25rem;
    padding: 4rem 125px; /* používám px ze stejného důvodu */
  }

  .footer__column {
    flex: 1;
  }

  .footer__title {
    font-size: 1.5rem;
  }

  .footer__bottom {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 125px; /* používám px ze stejného důvodu */
  }
}
